* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lbl {
    font-weight: bold;
}

.val {
    font-size: 1.2rem;
    color: #333;
}

.input-box {
    width: 100%;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/*Ascunde sagetile de incrementare/decrementare */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btns button, .btns input[type="number"] {
    width: 48%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color:pink;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btns button:hover {
    background-color: rgb(235, 161, 174);
}

.btns input[type="number"] {
    background: #ffffff;
    border: 1px solid pink;
    color: #333;
}

.wrapper span {
    font-size: 1.2rem;
}

.reset {
    background-color: #e2707b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset:hover {
    background-color: #e2707b;
}
